@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";




body{
   color: #F5F2EA;
   background-color: #080909;
   font-family: "Montserrat", sans-serif;
}